[flake8]
select = C,E,F,W,ANN
# ANN003 is annotation on, eg, **kwargs
# ANN101 is annotation on 'self'
# ANN204 is annotation on '__init__()'
# E265,E266 are restrictions on comments ('#')
# E501 is line-too-long, which we enforce with black
# W503,E203 are allowed by black
ignore = ANN003,ANN101,ANN204,E265,E266,E501,W503,E203
per-file-ignores =
    fatcat_scholar/__init__.py: F401
    tests/*.py: ANN201,ANN001
exclude = .git,__pycache__,.venv
max-line-length = 88
max-complexity = 30
