dist
venv/
*.egg-info
data/
fulltext_web/
htmlcov/

*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build/
_build/
src/build/
*.log

!.flake8
!.gitlab-ci.yml
!.pylintrc
!.coveragerc

# Don't ignore this file itself
!.gitignore
