[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiofiles = "*"
babel = "*"
beautifulsoup4 = "==4.*"
confluent-kafka = "*"
dynaconf = ">=3"
# <7.14 pin is because of elasticsearch.exceptions.UnsupportedProductError
# https://github.com/elastic/elasticsearch-py/issues/1639
elasticsearch = { version = ">=7.8.0,<7.14.0", extras = ["async"] }
elasticsearch-dsl = ">=7.0.0,<8.0.0"
fastapi = "*"
fatcat-openapi-client = ">=0.3.3"
fuzzycat = "==0.1.19"
ftfy = "*"
gunicorn = "*"
grobid_tei_xml = ">=0.1.2,<0.2.0"
httptools = "*"
internetarchive = "*"
jinja2 = ">=3"
lxml = "*"
minio = "<7.0.0"
pycountry = "==19.8.18"
pydantic = "*"
pylatexenc = "*"
python-stdnum = "*"
requests = ">=2"
sentry-sdk = { version = ">=0.14.0", extras = [] }
starlette-prometheus = "*"
toml = "*"
uvicorn = "*"
uvloop = "*"

[dev-packages]
black = "*"
ipython = "*"
mypy = "*"
# typing_extensions is required for mypy to operate
typing_extensions = "*"
flake8 = "*"
flake8-annotations = "*"
isort = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
responses = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
types-babel = "*"

[requires]
python_version = "3.8"
