
{% macro tag_label(tag) -%}
  {% if tag == "oa" %}
    <span class="ui label basic orange small" title="Open Access">OA</span>
  {% elif tag == "jstor" %}
    <span class="ui label basic purple small" title="Preserved in JSTOR">JSTOR</span>
  {% elif tag == "scielo" %}
    <span class="ui label basic purple small" title="Hosted on SciELO platform">SciELO</span>
  {% elif tag == "ojs" %}
    <span class="ui label basic purple small" title="Hosted with Open Journal Systems">OJS</span>
  {% elif tag == "wordpress" %}
    <span class="ui label basic purple small" title="Hosted with Wordpress">Wordpress</span>
  {% elif tag == "road" %}
    {# skip for now; no curration? #}
    {# <span class="ui label basic orange small" title="ISSN Registry of Open Access Journals">ROAD</span> #}
  {% elif tag == "szczepanski" %}
    <span class="ui label basic orange small" title="Szcezepanski OA Journal List">Szczepanski</span>
  {% elif tag == "doaj" %}
    <span class="ui label basic orange small" title="Directory of Open Access Journals">DOAJ</span>
  {% elif tag.startswith("lang:") %}
    <span class="ui label basic black small" title="ISO Language Code">{{ tag }}</span>
  {% else %}
    {# disabling "other" tags for now #}
    {# <span class="ui label basic grey small">{{ _(tag) }}</span> #}
  {% endif %}
{% endmacro %}

{% macro fulltext_search_result_row(paper, locale=None, debug_mode=False) -%}
<div class="ui grid">
<div class="thirteen wide column serp-hit-box">
  {# ### TITLE ROW #}
  <h3 style="margin-bottom: 0.1em; font-size: 1.2em; font-weight: bold; line-height: 1.2em;">

    {% if paper.doc_type == "work" %}
      <a href="https://fatcat.wiki/release/{{ paper.biblio.release_ident }}" style="color: #2224c7;" target="_blank" rel="noopener" title="{{ _('access fatcat landing page') }}" {% if settings.ENABLE_GOATCOUNTER %}data-goatcounter-click="serp-title-fatcat-work"{% endif %}>
        {% if paper.biblio.title %}
          {{ paper.biblio.title[:512] }}
          {% if paper.biblio.title|length > 512 %}...{% endif %}
        {% else %}
          [blank]
        {% endif %}
      </a>
      {# release type suffix #}
      <span style="font-weight: normal; text-transform: uppercase; font-weight: bold;">
      {% if paper.biblio.release_type in ("article-journal", "paper-conference") or paper.doc_type == "sim_page" %}
        {# pass #}
      {% elif paper.biblio.release_type in ("book", "chapter", "dataset") %}
        [{{ _(paper.biblio.release_type) }}]
      {% elif not paper.biblio.release_type %}
        [{{ _("unknown") }}]
      {% else %}
        [{{ _(paper.biblio.release_type) }}]
      {% endif %}
      </span>

      {# show inverse of title/original_title above #}
      {% if paper.biblio.original_title and paper.biblio.title != paper.biblio.original_title %}
        <br>
        <i style="font-weight: bold;">
          {{ paper.biblio.original_title[:512] }} {% if paper.biblio.original_title|length > 512 %}...{% endif %}
        </i>
      {% endif %}

    {% elif paper.doc_type == "sim_page" %}
      <a target="_blank" rel="noopener" href="https://archive.org/details/{{ paper.ia_sim.issue_item }}/page/{{ paper.ia_sim.first_page }}" style="color: #2224c7;" title="{{ _('access microfilm on archive.org') }}" {% if settings.ENABLE_GOATCOUNTER %}data-goatcounter-click="serp-title-sim-page"{% endif %}>
        {% trans page_num = paper.ia_sim.first_page, journal_name = paper.biblio.container_name, volume = paper.biblio.volume, issue = paper.biblio.issue %}Page {{ page_num }} of {{ journal_name }} Vol. {{ volume }}, Issue {{ issue }}{% endtrans %}
      </a>
      <span style="font-weight: normal; text-transform: uppercase; font-weight: bold;">[{{ _("page") }}]</span>
    {% endif %}

  </h3>

  {# ### AUTHOR ROW #}
  {% if paper.biblio.contrib_names %}
    <div style="margin-top: 0; margin-bottom: 0.2em; font-size: 1.1em;">
    {{ ", ".join(paper.biblio.contrib_names[:12]) }}
    {% if paper.biblio.contrib_names|length > 12 %}<i>(+{{ paper.biblio.contrib_names|length - 12 }} others)</i>{% endif %}
    </div>
  {% endif %}


  {# ### JOURNAL ROW #}
  {% if paper.biblio.release_year %}
    {{ paper.biblio.release_year }}
  {% endif %}
  {% if paper.biblio.container_name %}
    <i>
    {% if paper.biblio.container_ident %}
      <a target="_blank" rel="noopener" href="https://fatcat.wiki/container/{{ paper.biblio.container_ident }}" style="color: black;">{{ paper.biblio.container_name }}</a>
    {% elif paper.doc_type == "sim_page" %}
      <a target="_blank" rel="noopener" href="https://archive.org/details/{{ paper.ia_sim.pub_collection }}" style="color: black;">{{ paper.biblio.container_name }}</a>
    {% else %}
      {{ paper.biblio.container_name }}
    {% endif %}
    </i>
    &nbsp;
  {% endif %}

  {% if paper.biblio.release_stage == "submitted" %}
    <b style="color: brown; text-transform: uppercase;">pre-print</b>
  {% elif paper.biblio.release_stage and paper.biblio.release_stage != "published" %}
    <b style="color: brown; text-transform: uppercase;">{{ paper.biblio.release_stage }} version</b>
  {% elif not paper.biblio.release_stage %}
    <b style="color: brown; text-transform: uppercase;">unpublished</b>
  {% endif %}

  {% if paper.biblio.withdrawn_status %}
    <b style="color: red; text-transform: uppercase;">{{ paper.biblio.withdrawn_status }}</b>
  {% endif %}

  {# ### ABSTRACT / QUERY HIGHLIGHT #}
  {% if paper._highlights %}
    <div style="padding-top: 0.5em; padding-bottom: 0.5em;" class="search_highlights">
    {# this highlight HTML escape hacking should not be necessary in ES 7.x with highlight escaping #}
    {# but for now we manually escape, then de-escape the 'em' highlight tags #}
    {% autoescape false %}
      {% for highlight in paper._highlights[:3] %}
        {{ highlight|e|replace("&lt;em&gt;", "<em>")|replace("&lt;/em&gt;", "</em>") }} &nbsp;...&nbsp;
      {% endfor %}
    {% endautoescape %}
    </div>
  {% elif paper.abstracts %}
    <div style="padding-top: 0.5em; padding-bottom: 0.5em;">
      {% if paper.abstracts[0].body|length > 500 %}
        {{ paper.abstracts[0].body | truncate(500, False, '') }}
        <details style="display:inline;">
          <summary>{% trans %}more &raquo;{% endtrans %}</summary>
          ... {{ paper.abstracts[0].body[480:] }}
        </details>
      {% else %}
        {{ paper.abstracts[0].body }}
      {% endif %}
    </div>
  {% else %}
    <br>
  {% endif %}

  {# ### IDENTIFIERS #}
  {% if paper.biblio.doi %}
    <a target="_blank" rel="external noopener noreferrer" href="https://doi.org/{{paper.biblio.doi }}" style="color: green;">doi:{{ paper.biblio.doi }}</a> &nbsp;
  {% endif %}
  {% if paper.biblio.pmid %}
    <a target="_blank" rel="external noopener" href="https://www.ncbi.nlm.nih.gov/pubmed/{{paper.biblio.pmid }}" style="color: green;">pmid:{{ paper.biblio.pmid }}</a> &nbsp;
  {% endif %}
  {% if paper.biblio.pmcid %}
    <a target="_blank" rel="external noopener" href="https://pubmed.ncbi.nlm.nih.gov/{{paper.biblio.pmcid }}/" style="color: green;">pmcid:{{ paper.biblio.pmcid }}</a> &nbsp;
  {% endif %}
  {% if paper.biblio.arxiv_id %}
    <a target="_blank" rel="external noopener" href="https://arxiv.org/abs/{{paper.biblio.arxiv_id }}" style="color: green;">arXiv:{{ paper.biblio.arxiv_id }}</a> &nbsp;
  {% endif %}
  {% if paper.biblio.release_ident %}
    <a target="_blank" rel="external noopener" href="https://fatcat.wiki/release/{{paper.biblio.release_ident}}" style="color: green;">fatcat:{{ paper.biblio.release_ident}}</a> &nbsp;
  {% endif %}

  <div style="margin-top: 0.2em;">
  {# ### TAGS #}
    {# colors to use: olive, brown, grey, pink, red, etc #}
    {# TODO: remove doc for ES 7.x-style lack of type #}
    {# TODO: only show 'json' link if from cluster? #}
    {% if debug_mode %}
      <a target="_blank" rel="noopener" href="{{ settings.ELASTICSEARCH_FRONTEND }}/{{ settings.ELASTICSEARCH_FULLTEXT_INDEX }}/_doc/{{ paper.key }}">
        <span class="ui label small" title="search document JSON debug link">json</span>
      </a>
    {% endif %}

    {% for tag in paper.tags|sort %}
      {# HACK: don't show "oa" tag if already obvious #}
      {% if tag != "oa" or ("doaj" not in paper.tags and "szczepanski" not in paper.tags) %}
        {{ tag_label(tag) }}
      {% endif %}
    {% endfor %}
    {% if paper.biblio.lang_code and paper.biblio.lang_code != (locale or 'en') %}
      {{ tag_label("lang:" + paper.biblio.lang_code) }}
    {% endif %}

  {# ### VERSIONS #}
  {% if (paper.access and paper.access|length > 1) or (paper.releases and paper.releases|length > 1) %}
    <div class="ui basic label blue small simple dropdown item">
      <i class="ui icon add"></i>
      {% trans %}Multiple Versions{% endtrans %}

      <div class="menu" style="font-weight: normal;">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>{{ _("Publication Stage") }}</th>
              <th>{{ _("Date") }}</th>
              <th>{{ _("Fulltext") }}</th>
              <th>{{ _("Metadata") }}</th>
            </tr>
          </thead>
          <tbody>
          {% for release in paper.releases %}
            <tr>
              <td>
                <span style="font-weight: normal; text-transform: uppercase; font-weight: bold; color: brown;">
                  {{ release.release_stage or _("unknown") }}
                </span>
              </td>
              <td>
                {% if release.release_date %}
                  {{ release.release_date }}
                {% elif release.release_year %}
                  {{ release.release_year }}
                {% endif %}
              </td>
              <td>
                {% for access in paper.access %}
                  {% if access.release_ident == release.ident %}
                    <a href="{{ access.access_url }}">
                      <span class="ui blue label">
                        {% if access.mimetype == "application/pdf" %}
                          <i class="file pdf outline icon"></i>
                        {% endif %}
                        {{ access.access_type }}
                      </span>
                    </a>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                <a href="https://fatcat.wiki/release/{{ release.ident }}">
                  <span class="ui green label">
                    <i class="share square icon"></i>
                    fatcat
                  </span>
                </a>
              </td>
            </tr>
          {% endfor %}
          {% for access in paper.access %}
            {% if not access.release_ident and access.access_type == "ia_sim" %}
              <tr>
                <td>
                  <span style="font-weight: normal; text-transform: uppercase; font-weight: bold; color: brown;">
                    {{ _("published") }}
                  </span>
                </td>
                <td></td>
                <td>
                  <a href="{{ access.access_url }}">
                    <span class="ui blue label">
                      <i class="film icon"></i>
                      {{ _("microfilm") }}
                    </span>
                  </a>
                </td>
                <td></td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {# ### COLLAPSED HITS  #}
  {% if paper._collapsed_count > 0 %}
    <button class="ui basic label blue small button" form="search_form" type="submit" name="collapse_key" value="{{ paper.collapse_key }}">
      <i class="ui icon zoom-in"></i>
      {% trans trimmed count=paper._collapsed_count %}
        Show {{ count }} additional result from this issue
      {% pluralize %}
        Show {{ count }} additional results from this issue
      {% endtrans %}
    </button>
  {% endif %}

  </div>

</div>
<div class="three wide left aligned column" style="padding-top: 0.5em; padding-right: 0.5em;">
  {% if paper.fulltext and paper.fulltext.access_url %}
    {% if paper.fulltext.file_mimetype == "application/pdf" %}
      {% set access_alt = _('fulltext PDF download') %}
    {% elif paper.fulltext.access_type == "ia_sim" %}
      {% set access_alt = _('read fulltext microfilm') %}
    {% else %}
      {% set access_alt = _('fulltext access') %}
    {% endif %}

    <a target="_blank" rel="noopener" href="{{ paper.fulltext.access_url}}" title="{{ access_alt }}" {% if settings.ENABLE_GOATCOUNTER %}data-goatcounter-click="serp-fulltext"{% endif %}>
      {% if paper.fulltext.thumbnail_url %}
        <div class="ui serp card">
          <img src="{{ paper.fulltext.thumbnail_url }}" alt="fulltext thumbnail">
        </div>
      {% else %}
        <div class="ui serp card" style="box-shadow: none;">
          <img src="/static/document-icon.svg" style="opacity: 0.6;" alt="">
        </div>
      {% endif %}
    <div class="fulltext-link" style="width: 100%; opacity: 1.0; text-align: center; overflow: hidden;">
        {% if paper.fulltext.access_type == "wayback" %}
          web.archive.org
        {% elif paper.fulltext.access_type in ["ia_sim", "ia_file"] %}
          archive.org
        {% endif %}
        {% if paper.fulltext.file_mimetype == "application/pdf" %}
          <i class="file pdf outline icon" style="margin-right: 0;"></i>
        {% elif paper.fulltext.access_type == "ia_sim" %}
          <i class="film icon" style="margin-right: 0;"></i>
        {% endif %}
    </div>
    </a>
  {% else %}
    {# No Fulltext #}
  {% endif %}
</div>
</div>
{% endmacro %}

{% macro search_pagination(hits, top) %}
{% if hits.offset > 0 %}
  <button class="text-button" form="search_form" type="submit" name="offset" value="{{ hits.offset - hits.limit }}" style="margin-right: 2em;" rel="prev">
    <a>&#xab; {% trans %}Previous{% endtrans %}</a>
  </button>
{% else %}
  <span style="color:rgba(0,0,0,0.55); margin-right: 2em;">&#xab; {% trans %}Previous{% endtrans %}</span>
{% endif %}
<i>
  {% trans trimmed start=(hits.offset + 1), end=(hits.offset + hits.limit), total="{:,}".format(hits.count_found) %}
    Showing results {{ start }} &mdash; {{ end }} out of {{ total }} results
  {% endtrans %}
</i>
{% if hits.offset + hits.limit < hits.count_found %}
<button class="text-button" form="search_form" type="submit" name="offset" value="{{ hits.offset + hits.limit }}" style="margin-left: 2em;" rel="next">
  <a>{% trans %}Next{% endtrans %} &#xbb;</a>
{% else %}
  <span style="color:rgba(0,0,0,0.55); margin-left: 2em;">{% trans %}Next{% endtrans %} &#xbb;</span>
{% endif %}
</button>
{% endmacro %}

{% macro query_option(options, selected) -%}
<label for="{{ options.slug }}" style="color: rgba(0,0,0,0.55);">{{ _(options.label) }}</label>
<div class="ui link list" style="margin-top: 0.3em;">
  {% for opt in options.list %}
    <button class="text-button" form="search_form" type="submit" name="{{ options.slug }}" value="{{ opt.slug }}">
      {% if selected == opt.slug or (not selected and opt.slug == options.default) %}
        <span style="font-weight: bold;">
      {% else %}
        <span>
      {% endif %}
      {{ _(opt.label) }}
      </span>
    </button>
    <br>
    </span>
  {% endfor %}
</div>
<br>
{% endmacro %}

{% macro query_hidden(options, selected) -%}
{% if selected %}
  <input form="search_form" type="hidden" name="{{ options.slug }}" value="{{ selected }}">
{% endif %}
{% endmacro %}
