a {
  /* accessibility/contrast */
  color: #28629c;
}
.ui.basic.blue.label {
  color: #28629c!important;
  border-color: #28629c!important;
}
.ui.basic.orange.label {
  color: #c54e00!important;
  border-color: #c54e00!important;
}
.ui.card .meta, .ui.cards>.card .meta {
  color: rgba(0,0,0,0.55);
}

/* bnewbold: fix light grey bars in header, and "rounded" header */
nav.ui.inverted.menu .item:before {
  background: none;
}
nav.ui.menu {
  border-radius: 0;
}

.ui.button.serp-button {
  box-sizing: border-box;
  border-radius: 0;
  margin-bottom: 0.4em;
  text-align: left;
  width: 14em;
}

.ui.blue.button.serp-button {
  background-color: #6b6ebb;
}

.ui.basic.blue.button.serp-button > .icon {
  background-color: transparent;
}
.ui.button.serp-button > .ia-icon {
  background: no-repeat center / 50% url('/static/ia-favicon.ico');
}

.ui.labeled.icon.button.serp-button {
  padding-left: 3.0em!important;
  padding-right: 0.5em!important;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.ui.labeled.icon.button.serp-button .menu.fulltext-thumbnail {
  left: calc(-100% + 0.3em);
  margin-top: -2.4em;
  background-color: black;
  min-width: 186px;
  border: 3px solid black;
  border-bottom: 0;
  box-shadow: none;
}

.ui.labeled.icon.button.serp-button .menu.fulltext-thumbnail:after {
  z-index: -1;
  background-color: black;
}

.action-bar {
  display: flex;
  justify-content: center;
  column-gap: 0.3em;
  width: 12.5em;
}

@media only screen and (max-width: 767px) {
  .action-bar {
    justify-content: left;
  }
  .mobile-hide {
    display: none !important;
  }
  .ui.items>.item>.image:not(.ui) {
    width: auto;
    max-height: 300px!important;
  };
}
@media only screen and (min-width: 768px) {
  .mobile-only { display: none !important; }
}
@media only screen and (max-width: 991px) {
  .tablet-hide {
    display: none !important;
  }
  .ui.items>.item>.image:not(.ui) {
    width: auto;
  }
  .ui.grid>[class*="fourteen wide"].column.serp-column {
    width: 100% !important;
    box-shadow: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .tablet-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.container {
    font-size: 16px;
    line-height: 20px;
  }
  div.fulltext-link {
    width: 180px;
  }
  div.biblio-record {
    padding-left: 1.1em;
  }
}

.ui.serp.card {
  max-width: 180px;
  margin-bottom: 0.2em;
  border-radius: 0;
}
.hit-count {
  font-weight: bold;
  line-height: 1.28571429em;
}

.biblio-record .biblio-title {
  margin-bottom: 0.1em;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
}
.biblio-record .biblio-title .link {
  cursor: pointer;
  color: #2224c7;
}
.biblio-record .biblio-title a {
  color: #2224c7;
}
.biblio-record .release-type {
  text-transform: uppercase;
  font-weight: bold;
}
.biblio-record .original-title {
  font-style: italic;
  font-weight: normal;
}
.biblio-record .author-row {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 1.1em;
}
.biblio-record .release-stage {
  color: brown;
  font-weight: bold;
  text-transform: uppercase;
}
.biblio-record details > summary {
  list-style-type: none;
  color: #28629c;
  text-decoration: underline;
  margin-left: 0.3em;
}
.biblio-record details > summary::-webkit-details-marker {
  display: none;
}

/* for fulltext search result highlighting */
.search-highlights em {
  font-style: normal;
  font-weight: bold;
}
.search-highlights {
  padding-bottom: 0.5em
}

.tag-row {
  margin-top: 0.2em;
}

.search-filters summary::marker {
  display: none;
}
.search-filters summary::-webkit-details-marker {
  display: none;
}

.search-pagination {
  max-width: 35em;
  margin: auto;
  text-align: center;
}

footer p a {
  color: rgba(255, 255, 255, 0.5);
}
footer p a:hover {
  color: rgba(255, 255, 255, 1.0);
  opacity: 1.0;
}

.ui.label.small {
  border-radius: 0;
}

a:hover .ui.card {
  opacity: 0.75;
}

.text-button {
  border: none;
  background-color: inherit;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
}

details.title-dropdown summary {
  text-decoration: none;
  color: inherit;
  margin-left: 0;
  margin-bottom: 0.3em;
}
details.title-dropdown .dropdown-menu {
  margin-top: 1.0em;
  width: auto;
}
details.title-dropdown .meta {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.serp-right-col {
  padding-top: 0.5em;
  padding-right: 0.5em;
  min-width: 10em;
}
@media only screen and (max-width: 767px) {
  .ui.stackable.grid > .column.biblio-record {
    padding-bottom: 0.5em!important;
  }
  .ui.stackable.grid > .column.serp-right-col {
    padding-top: 0!important;
  }
}

details.serp-action-menu[open] > summary .ui.basic.button {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 1px 4px 0 rgba(34,36,38,.15) inset;
  background: #f8f8f8!important;
}
details.serp-action-menu > summary {
  list-style: none;
}
details.serp-action-menu > summary::-webkit-details-marker {
  display: none;
}
details.serp-action-menu > .citation-menu {
  min-width: 50em;
  height: auto;
  position: absolute;
  display: block;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
  border: 1px solid rgba(34,36,38,.15);
  z-index: 11;
  min-width: 30em;
  border-radius: .28571429rem;
  right: 55%;
  margin-top: -2em;
  margin-right: 1.5em;
  padding: 1em;
}
@media only screen and (max-width: 767px) {
  details.serp-action-menu > .citation-menu {
    overflow-x: scroll;
    width: calc(100vw - 3em);
    height: auto;
    min-width: 0;
    left: 0.5em;
    margin-top: 0em;
  }
}

.citation-menu ul.ui.list {
  width: 100%;
  text-align: center;
}
.citation-menu ul.ui.list li.item:before {
  visibility: hidden;
}

.translate-dropdown {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.external-identifiers > a {
  color: green;
  margin-right: 0.25em;
}

.translate-icon {
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.25em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg height="1792" viewBox="0 0 1792 1792" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M782 1078q-1 3-12.5-.5t-31.5-11.5l-20-9q-44-20-87-49-7-5-41-31.5t-38-28.5q-67 103-134 181-81 95-105 110-4 2-19.5 4t-18.5 0q6-4 82-92 21-24 85.5-115t78.5-118q17-30 51-98.5t36-77.5q-8-1-110 33-8 2-27.5 7.5t-34.5 9.5-17 5q-2 2-2 10.5t-1 9.5q-5 10-31 15-23 7-47 0-18-4-28-21-4-6-5-23 6-2 24.5-5t29.5-6q58-16 105-32 100-35 102-35 10-2 43-19.5t44-21.5q9-3 21.5-8t14.5-5.5 6 .5q2 12-1 33 0 2-12.5 27t-26.5 53.5-17 33.5q-25 50-77 131l64 28q12 6 74.5 32t67.5 28q4 1 10.5 25.5t4.5 30.5zm-205-486q3 15-4 28-12 23-50 38-30 12-60 12-26-3-49-26-14-15-18-41l1-3q3 3 19.5 5t26.5 0 58-16q36-12 55-14 17 0 21 17zm698 129l63 227-139-42zm-1108 800l694-232v-1032l-694 233v1031zm1241-317l102 31-181-657-100-31-216 536 102 31 45-110 211 65zm-503-962l573 184v-380zm311 1323l158 13-54 160-40-66q-130 83-276 108-58 12-91 12h-84q-79 0-199.5-39t-183.5-85q-8-7-8-16 0-8 5-13.5t13-5.5q4 0 18 7.5t30.5 16.5 20.5 11q73 37 159.5 61.5t157.5 24.5q95 0 167-14.5t157-50.5q15-7 30.5-15.5t34-19 28.5-16.5zm448-1079v1079l-774-246q-14 6-375 127.5t-368 121.5q-13 0-18-13 0-1-1-3v-1078q3-9 4-10 5-6 20-11 106-35 149-50v-384l558 198q2 0 160.5-55t316-108.5 161.5-53.5q20 0 20 21v418z" fill="white"/></svg>');
}
